.wy-nav-content
{
   max-width: 100% !important;
}

div.wy-table-responsive {
   /*enlarge needstables to full size to overcome scalling issue*/
   width: 100% !important;
}

.needs-example {
   border: .05rem solid rgb(76, 72, 138);
   padding-left: .5rem;
   padding-right: .5rem;
   padding-bottom: .5rem;
}